{% extends "base.html" %}

{% block head %}
{{ super()  }}
{% endblock %}


{% block content %}

<script src="{{ url_for('static',filename='plotly-latest.min.js') }}"></script>

<div class="page-header">
    <h3>Git statistics for {{ branch }}</h3>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Overall Statistics</h3>
  </div>
  <div class="panel-body">
      <table class="table">
          <tr><td>Total commits</td><td>{{ branch_insight['raw']|length }}</td></tr>
          <tr><td>Earliest Commit</td><td>{{ branch_insight['earliest_brach_commit'] }}</td></tr>
          <tr><td>Most Recent Commit</td><td>{{ branch_insight['recent_branch_commit'] }}</td></tr>
          <tr><td>Total File Additions</td><td>{{ branch_insight['total_branch_lines_additions'] }}</td></tr>
          <tr><td>Total File Deletions</td><td>{{ branch_insight['total_branch_lines_deletions'] }}</td></tr>
          <tr><td>MVP</td><td>{{ branch_insight['top_commiters'][0][0] }} - {{ branch_insight['top_commiters'][0][1] }} commits</td></tr>
      </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Top Committers</h3>
  </div>
  <div class="panel-body">
      <table class="table">

          {% for c in branch_insight['top_commiters'] %}
            <tr><td>{{ c[0] }}</td><td>{{ c[1] }} commits</td></tr>
          {% endfor %}
      </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Top File Modifications</h3>
  </div>
  <div class="panel-body">
      <table class="table">

          {% for f in branch_insight['popular_files_changed'] %}
            <tr><td>{{ f[0] }}</td><td>{{ f[1] }} commit modifications</td></tr>
          {% endfor %}
      </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Commits Over Time</h3>
  </div>
  <div class="panel-body">
        <figure>
            <embed  class="image/svg+xml" src="http://{{ g._baseurl }}/charts/branch/{{branch}}/commits-over-time"></embed>
        </figure>
  </div>
</div>


{% endblock %}