{% extends "base.html" %}

{% block head %}
{{ super()  }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h3>Git statistics for {{ session['current_branch'] }}</h3>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Overall Statistics</h3>
  </div>
  <div class="panel-body">
      <table class="table">
          <tr><td>Total commits</td><td>{{ branch_data['raw']|length }}</td></tr>
          <tr><td>Earliest Commit</td><td>{{ branch_data['earliest_brach_commit'] }}</td></tr>
          <tr><td>Most Recent Commit</td><td>{{ branch_data['recent_branch_commit'] }}</td></tr>
          <tr><td>Total File Additions</td><td>{{ branch_data['total_branch_lines_additions'] }}</td></tr>
          <tr><td>Total File Deletions</td><td>{{ branch_data['total_branch_lines_deletions'] }}</td></tr>
      </table>
  </div>
</div>
    {% for commit in branch_data %}
        <h4>{{commit}}</h4>
    {% endfor %}
{% endblock %}